<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>Use this site to get your weather data</p>
        <form>
            <input placeholder="Location"> 
            <button>
                Search
            </button>
            <p id="temperature"></p>
            <p id="weather_description"></p>
            <p id="location"></p>
            <p id="humidity"></p>
            <p id="feelslike"></p>
        </form>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>


</html>